# TURSO SQLITE DB
TURSO_AUTH_TOKEN=""
TURSO_DATABASE_URL=""

# REDIS CACHE
REDIS_USERNAME=""
REDIS_PASSWORD=""
REDIS_HOST=""
REDIS_PORT=""

# BETTER AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" # Base URL of your app

# EMAIL SERVICE
RESEND_API_KEY=""                                                                                                   │ │
FROM_EMAIL="" 

# OAuth Providers                                                                                                   │ │
GOOGLE_CLIENT_ID=""                                                                                                 │ │
GOOGLE_CLIENT_SECRET=""                                                                                             │ │
GITHUB_CLIENT_ID=""                                                                                                 │ │
GITHUB_CLIENT_SECRET="" 